<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mtfilter" translate="label" sortOrder="195">
            <label>MT Filter</label>
        </tab>
        <section id="mtfilter" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Filter Setting</label>
            <tab>mtfilter</tab>
            <resource>MT_Filter::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="bar" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show Loading Bar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show a nice loading bar on top of page</comment>
                </field>
                <field id="bar_color" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Loading Bar Color</label>
                    <frontend_model>MT\Mato\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                    <comment>That bar should look like</comment>
                    <depends>
                        <field id="bar">1</field>
                    </depends>
                </field>
            </group>
            <group id="catalog" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Catalog</label>
                <field id="price" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Price Slider</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Replace price filter by a slider</comment>
                </field>
                <field id="enable" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Ajax Filter</label>
                    <comment>Replace all filters with AJAX request</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="main_selector" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Main DOM Selector</label>
                    <comment>Ex: .col-main</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="layer_selector" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Layer DOM Selector</label>
                    <comment>Ex: .block-layered-nav</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="catalogsearch" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Catalog Search</label>
                <field id="price" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Price Slider</label>
                    <comment>Replace price filter by a slider</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Ajax Filter</label>
                    <comment>Replace all filters with AJAX request</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="main_selector" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Main DOM Selector</label>
                    <comment>Ex: .col-main</comment>
                    <comment>If set to "Yes", custom Category Blocks will be displayed in the drop-down box even
                        if the category doesn't have any sub-categories.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="layer_selector" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Layer DOM Selector</label>
                    <comment>Ex: .block-layered-nav</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="discount" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Discount Filter</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Discount Filter</label>
                    <comment>Add discount filter to catalog layer navigation</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_empty" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Filter with results</label>
                    <comment>Only show if has results</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
