@media (min-width: 768px), print{
    .header .logo {
        margin: 0 !important;
        padding: 12px 0px;
        margin-right: 225px !important;
    }
    .navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top {
        border-color: #ff4081; 
    }
}